# pandas - pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

https://pandas.pydata.org/

* Series


* DataFrames


* Missing Data handling


* GroupBy


* Operations


* Data input and output

### Series

First main data type in pandas is Series. Its very similar to numpy arrays.

Differences b/w numpy array and pandas series:

1) Series can store any data type


2) In ndarrays we select the values by their indices which is numeric, in series index can be numeric or character

In [1]:
import numpy as np

import pandas as pd

### Create a series

You can convert a list, np array or a dictionary into a series

In [3]:
labels = ['a','b','c'] # list of strings
my_list = [10,20,30] # list of numbers
arr = np.array([10,20,30]) # numpy array 
mydict = {'a':10,'b':'20','c':30} # dictionary

In [4]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

### creating series from numpy arrays

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=arr,index=labels)

a    10
b    20
c    30
dtype: int64

### creating series from dictionary

In [10]:
pd.Series(mydict)

a    10
b    20
c    30
dtype: object

In [11]:
pd.Series([sum,len,print,type])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
3               <class 'type'>
dtype: object

#### Use of index

In [13]:
ser1 = pd.Series([1,2,3,4,5],index=['AP','Haryana','Mumbai','Chennai','Bidhannagar'])

In [14]:
ser1

AP             1
Haryana        2
Mumbai         3
Chennai        4
Bidhannagar    5
dtype: int64

In [15]:
ser1['Mumbai']

3

In [16]:
ser2 = pd.Series([10,20,30,40,50],index=['AP','Haryana','Mumbai','Chennai','Vadodara'])

In [17]:
ser1 + ser2

AP             11.0
Bidhannagar     NaN
Chennai        44.0
Haryana        22.0
Mumbai         33.0
Vadodara        NaN
dtype: float64